html, body{ 
    font-family: 'Pretendard', sans-serif;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#video{
    width: 100vw;
    height: 100vh;
}

#page-main .sub-title{
    font-size: 1.5rem;
    text-align: center;
    color: white;
    margin-bottom: 0;
}

#page-main .title{
    font-size: 4.5rem;
    text-align: center;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 0;
}

#page-1 .sub-title{
    font-size: 1.5rem;
    text-align: center;
    color: black;
    margin-bottom: 0;
}

#page-1 .title{
    font-size: 4.5rem;
    text-align: center;
    font-weight: bold;
    color: black;
    margin: 0;
    padding: 0;
}